<!-- backend/core/templates/folder_list.html -->
<title>Folders</title>

{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/folders_books_profiles.css' %}">

<h2>Select Folder View</h2>
<div>
    <a href="{% url 'my_folders' %}">My Folders</a>
</div>
<div>
    <a href="{% url 'public_folders' %}">Public Folders</a>
</div>
<h3>My Folders</h3>
<ul>
    {% for folder in folders %}
        <li>
            <a href="{% url 'folder_detail' folder.id %}">{{ folder.name }}</a> -
            {% if folder.is_public %}Public{% else %}Private{% endif %}
        </li>
    {% endfor %}
</ul>
<a href="{% url 'create_folder' %}">Create a New Folder</a>
{% endblock %}
