# Ignore virtual environment
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# username/password database
frontend_(Untracked)/
media/
backend/core/templates/account/email_untracked.html
backend/core/templates/account/login_untracked.html
